[core]
  excludesfile = ~/.gitignore_global
[github]
  user = timhwang21
[fetch]
  prune = true ; remove stuff deleted on remote
[rebase]
  autosquash = true ; automatically handle git commit --fixup/--squash
[push]
  default = current ; if no upstream is set, use current branch name
[merge]
  tool = vimdiff
  conflictstyle = diff3
  ff = only
[diff]
  colorMoved = default
  tool = vimdiff
  conflictstyle = diff3
[difftool]
  trustExitCode = true
  prompt = false
[mergetool]
  keepBackup = false ; block creation of unnecessarily persisted backups
  trustExitCode = true
[alias]
  currbranch = rev-parse --abbrev-ref HEAD
  gud = !man git
  authors = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short
[user]
  name = timhwang21
  email = timhwang21@gmail.com
  signingkey = 25AFC69C0A218D284E6ACD4F88561CCBE1B87D8E
[commit]
  gpgsign = true 
  verbose = true ; git commit -v by default
[log]
  follow = true ; default to log --follow
[url "git@github.com:"]
  insteadOf = https://github.com/ ; default to SSH
