[core]
  excludesfile = ~/.gitignore_global
[github]
  user = timhwang21
[mergetool "sublime"]
  cmd = subl -w $MERGED
  trustExitCode = false
[mergetool]
  keepBackup = false
[merge]
  tool = sublime
[alias]
  gud = !man git
  stats = shortlog -sn
  authors = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short
[user]
  email = thwang@rocketfuel.com
  name = Timothy Hwang
